@model BrandViewModel

@{
    ViewData["Title"] = "EditBrand";
}

<div class="row">
    <div class="col-2"></div>
    <div class="col-8 border ">
        <form class="m-4" asp-area="Admin" asp-controller="Brand" asp-action="EditBrand" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-8 form-group">

                    <input type="hidden" asp-for="@Model.ID" />
                    <label asp-for="@Model.BrandName"></label>
                    <span asp-validation-for="@Model.BrandName" class="text-danger">
                        @TempData["Message"]
                    </span>
                    <input class="form-control" asp-for="@Model.BrandName" />

                    <div class="fileinput fileinput-new mt-4" data-provides="fileinput">
                        <div class="fileinput-new thumbnail ImgStyle">
                            @{ if (!String.IsNullOrEmpty(@Model.ImageUrl))
                                {
                                    <div class="col-4 ">
                                        <img src="~/Gallery/@Model.ImageUrl" style="width:100px;height:100px;" />
                                    </div>
                                }
                                else
                                {
                                    <div class="col-4 ">
                                        <img src="~/Image/Camera.png" style="width:100px;height:100px;" />
                                    </div>
                                }
                            }
                        </div>
                        <div class="fileinput-preview fileinput-exists thumbnail ImgStyle"> </div>
                        <div>
                            <span class="btn default btn-file">
                                <span class="fileinput-new btn btn-outline-success font-10Pt"> انتخاب کنید </span>
                                <span class="fileinput-exists btn btn-outline-warning font-10Pt"> تغییر عکس </span>
                                <input type="file" name="file" accept=".jpg, .png, .jpeg, .gif, .tif, .tiff, .JPG" />
                            </span>
                            <a href="javascript:;" class="btn btn-outline-danger text-danger font-10Pt fileinput-exists" data-dismiss="fileinput"> حذف </a>
                        </div>
                    </div>

                </div>
                <div class="col-12 text-left">
                    <a asp-controller="Brand" asp-action="Index" class="btn green text-white">انصراف</a>
                    <input type="submit" class="btn green text-white" value="ثبت تغیرات" />

                </div>
            </div>
        </form>
    </div>
    <div class="col-2"></div>
</div>