@model IEnumerable<BrandViewModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = ViewBag.TitlePage;
}

<div class="row mt-4">
    <div class="col-12">
        <div class="card">

            <div class="card-body">
                <div class="row">
                    <div id="Add_Category" class="col-md-12 border-bottom ">
                        <form asp-area="Admin" asp-controller="Brand" asp-action="AddBrand">
                            <div class="row">
                                <div class="col-12 mb-2">
                                    <p class="text-danger float-right">
                                        @TempData["Message"]
                                    </p>
                                    <input type="submit" value="افزودن برند" class="btn btn-link green text-white float-left">
                                </div>
                            </div>
                        </form>
                    </div>
                    <table id="List_Category" class="table table-striped col-12">
                        <thead>
                            <tr>
                                <th>ردیف</th>
                                <th>برند</th>
                                <th>لوگو</th>
                                <th>ویرایش</th>
                                <th>حذف</th>
                            </tr>
                        </thead>
                        <tbody>

                            @{
                                var i = 0;
                                foreach (var item in Model)
                                {
                                    i++;
                                    <tr>
                                        <td>@i</td>
                                        <td>@item.BrandName</td>
                                        <td>
                                            @if (item.ImageUrl == null)
                                            {
                                                <p>no image</p>
                                            }
                                            else
                                            {
                                                <img style="width:20px; height:20px" src="~/Gallery/@item.ImageUrl" />

                                            }
                                        </td>
                                        <td>
                                            <a class="btn btn-link" asp-area="Admin" asp-controller="Brand" asp-action="EditBrand" asp-route-Id="@item.ID">
                                                <i class="fa fa-edit " style="color:#017b44"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a id="Delete" class="btn btn-link" asp-area="Admin" asp-controller="Brand" asp-action="DeleteBrand" asp-route-Id="@item.ID">
                                                <i class="fa fa-trash" style="color:#017b44"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>